.slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth
}

.slider img {
    height: 150px;
    width: 200px;
    object-fit: cover;
    margin: 1px 20px;
}

.selected-img {
    border: 5px solid wheat;
}